*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
header{
    padding:26px 0px;
    font-size: 16px;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255,0.2);
}
.container{
    max-width: 1200px;
    width:75%;
    margin: 0 auto;
}
header .header__container{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}
.logo span{
    font-weight: 800;
    font-size: 2rem;

}
header nav a{
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 60px;
    color: white;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
}
header nav a:hover,
header a.active{
    color: #e62b4a;
}
header .logo {
    font-size: 2rem;

}
/* end header */
/* start banner */
.banner{
    background: url('./image-video/home_slider.jpg');
    height: 130vh;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner__container{
    padding-top: 30px;
    width: 50%;
    text-align: center;
    color: white;
}
.banner__container h4{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif
}
.banner__container #content{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
.banner__container button{
    padding:18px 35px;
    margin-top: 10px;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    background:#e62b4a;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ;
}
.banner__container button:hover{
    background:#af2239;
}
.banner__container i{
    font-size: 30px;
    color: white;
    animation:arrowAnimate 1.3s infinite ;
}
.slick-dots li.slick-active button:before{
    color: red;
    font-size: 15px;
}
.slick-dots li button:before{
    color: grey;
    opacity: 0.7;
    font-size: 15px;
}
.slick-dots{
    bottom: -50px;
}
.slick-dots li button:hover:before{
    color: white;
}
@keyframes arrowAnimate{
    from{
        opacity: 1;
        transform: translateY(40px);
    }
    to{
        opacity: 0;
        transform: translateY(80px);
    }
}
/* end banner */
/* start carousel*/
.carousel{
    padding:60px 0px;
    background: black;
    height: 120vh;
}
.carousel__title{
    text-align: center;
    padding-top: 50px;
}
.carousel .carousel__title h3{
    color:rgba(230, 43, 74,0.9);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 10px;
}
#middle{
    color: white;
    font-size: 41px;
    padding:10px 0px ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.carousel .carousel__title p{
    color:#888888;
    font-weight: bold;
    font-size: 15px;
    padding-top: 20px;
}
.carousel__list{
    padding-top: 40px;
}
.carousel__item{
    padding: 0px 10px;
    height: 250px;
}
.carousel__item i{
    font-size: 50px;
    padding-bottom: 5px;
    opacity: 0.5;
}
.item__container{
    background: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    position: relative;
}
.item__container::before{
    content: "";
    position: absolute;
    width: 7px;
    height: 0px;
    right: 0;
    top:0;
    background: #e62b4a;
    transition: 0.3s linear ;
}
.item__container:hover::before{
    height: 100%;
}
/* end carousel */
/* start blogs */
.blog{
    padding: 80px 0px;
    background-color: #F3F3F3;
}
#first{
    font-size: 13px;
    font-weight: 500;
}
.blog .blog__title{
    text-align: center;
    padding:30px 0px;
}
.blog .blog__title h2{
    padding:10px 0px 30px 0px;
    font-size: 50px;
    font-weight: 500;
}
.blog .blog__title p{
    font-weight: 700;
    color: #888888;
    font-size: 16px;
}
.blog__item img{
    display: block;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    filter: grayscale(50%) contrast(50%);
}
.blog__list{
    padding-top: 30px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.blog__list .item-1{
    grid-column: 1/3;
    grid-row: 1/3;
}
.blog__list .item-1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.blog__list .item-2{
    grid-column: 3/5;
    grid-row: 3/5;
}
.blog__list .item-2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.blog__item{
    position: relative;
}
.blog__item .item__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(230, 43, 74, 0.6);
    opacity: 0;
    transition: 1s;
}

.blog__item .item__overlay:hover{
    opacity: 1;
}

.blog__item .item__search{
    position: absolute;
    right: 30px;
    background: white;
    width: 50px;
    color: black;
    height: 40px;
    width: 40px;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog__item .item__search i{
    color: #000;
    background:white;
    text-align: center;
    transition: 0.8s;
}
.blog__item .item__search i:hover{
    background-color: #000;
    color: white;
    height: 40px;
    width: 40px;
    line-height: 40px;
}
.blog__item .item__title{
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
}
.blog__item .item__title p{
    color: #D0C7C8;
    text-transform: uppercase;
    font-weight: 500;
}
.blog__item .item__title h3{
    font-weight: 600;
}
/* end blogs */
/* start numbers */
.numbers{
    padding: 120px 0;
    color: white;
    background: #000;
    /* display: flex; */
}
.numbers__list{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.numbers__list h2{
    font-size: 60px;
    font-weight: 400;
}   
#title{
    font-size: 18px;
    color: #888888;
    font-weight:500;
}
/* end numbers */
/* start experience */
.experience{
    height: 155vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url('./image-video/bussiness_img_1.jpg');
}
.experience .title{
    color: white;
    text-align: center;
    padding:100px 0px 40px 0px;
}
.experience .title p{
    color: #e62b4a;
    font-size: 15px;
}
.experience .title h2{
    padding: 10px 0px 30px 0px;
    font-size: 50px;
}
.experience .title span{
    color: #888888;
    font-weight: bold;
}
.experience video{
    width: 100%;
    padding: 0px 180px;
    outline: none;
    text-align: center;
    object-fit: cover;
    border: none;
    box-shadow: 0 2px 10px 1px rgb(0 0 0 / 50%);

}
/* end experience */
/* start contact */
.contact{
    height: 135vh;
}
.contact__title{
    text-align: center;
    padding-top: 120px;
}
.contact__title h4{
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 30px;
}
.contact__title p{
    color: #888888;
    font-weight: 500;
    padding-bottom: 40px;
}
.contact .contact__content{
    display: flex;
    justify-content: center;
}
.contact__form{
    width: 30%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
.contact__form input,
.contact__form textarea{
    font-size: 15px;
    padding:15px;
    margin-bottom: 30px;
}
.contact__form button{
    background: #000;
    padding:20px 60px;
    color: white;
    font-weight: 400;
    font-size: 17px;
    text-transform: uppercase;
}
/* start footer */
.footer{
    background: black;
    height: 300px;
}
.footer__content{
    position: relative;
}
.footer__content p{
    color: white;
    position: absolute;
    left: 150px;
    top: 150px;
    font-size: 18px;
    font-weight: 500;
}
.footer__icon{
    color: white;
    position: absolute;
    right: 180px;
    top:120px;
}
.footer__icon i{
    margin-right: 5px;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    line-height:70px ;
    background: rgba(255, 255, 255, 0.2);
    width: 70px;
    height: 70px;
    transition: 0.5s;
    cursor: pointer;
}
.footer__icon i:hover{
    background: #e62b4a;
}
.backToTop i{
    background: rgba(0,0,0,0.25);
    border-radius: 4px;
    height: 80px;
    width: 80px;
    color: white;
    text-align: center;
    line-height: 80px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

